.page-header {
  width: 100%;
  display: grid;
  grid-template-areas:
    'logo location menu'
    'contact contact contact';
  grid-template-columns: 1fr 120px 48px;
  column-gap: 10px;
  row-gap: 20px;
  align-items: flex-start;
  margin-bottom: 25px;
}

.page-header__logo {
  grid-area: logo;
}

.page-header__burger {
  z-index: 2;

  margin-top: -5px;
  grid-area: menu;
}

.page-header__navigation {
  grid-area: navigation;
}

.page-header__contacts {
  grid-area: contact;
  justify-self: center;
}

.page-header__location{
  grid-area: location;
}


@media (min-width: $tablet-min-width) {
  .page-header {
    grid-template-areas:
      'logo contact location menu';
    grid-template-columns: 1fr 155px 155px 48px;
    column-gap: 18px;
    margin-bottom: 30px;
  }
}


@media (min-width: $desktop-min-width) {
  .page-header {
    grid-template-areas:
      'logo navigation contact location';
    grid-template-columns: 165px 1fr 158px 100px;
    column-gap: 25px;
    margin-bottom: 15px;
  }

  .page-header__burger {
    display: none;
  }
}