$mobile-min-width: 320px;
$tablet-min-width: 700px;
$desktop-min-width: 1000px;
$desktop-max-width: 1200px;

$color-gold: #D29C4E;
$color-average-background: #4c4544;
$font-color-main: #ffffff;
$font-color-additional: $color-gold;
$font-color-error: red;